<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157027718653-a2g5p5hbpms48r6kukokg7fs4f9j2ukp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157027718653-a2g5p5hbpms48r6kukokg7fs4f9j2ukp</string>
	<key>API_KEY</key>
	<string>AIzaSyAJpZwSM41DYnAR0VWkjiFKUvNobK4lJUY</string>
	<key>GCM_SENDER_ID</key>
	<string>157027718653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.minigym</string>
	<key>PROJECT_ID</key>
	<string>mini-pt</string>
	<key>STORAGE_BUCKET</key>
	<string>mini-pt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157027718653:ios:b86ef54a8382191d59f594</string>
</dict>
</plist>